.post-container {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 20px 15px 15px;
  .title {
    display: flex;
    gap: 1rem;
    .tweet-info {
      .user-info {
        display: flex;
        gap: 0.3rem;
        p{
          opacity: 0.7;
        }
        .verification {
          font-size: 1.2rem;
          margin-top: 2px;
        }
        p {
          margin-top: 2px;
        }
      }
      .tweet-message {
        margin-bottom: 1rem;
        margin-top: 0.5rem;
      }
      img {
        border-radius: 15px;
        object-fit: contain;
        width: 100%;
      }
      .icons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        .icons-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .more-icon {
      .more {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 900px) {
  .post-container {
    .title {
      .tweet-info {
        .icons {
          gap: 3rem;
        }
      }
    }
  }
}
